{{ define "all-collections"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
{{template "header" .}}
    <div class="body">
        <article>
            <section class="posts">
                <div class="all-tags">
                    {{range .CollectionNames}}
                    <a href="/collections/{{.}}.html">{{.}}</a>
                    {{end}}
                </div>
            </section>
        </article>
    </div>


    {{template "footer" .}}

</body>

</html>

{{ end}}
