{{ define "page"}}
{{$PageData := index .DeepDataMerge.Templates .PageURL}}
{{ template "head" .}}

<body>
    <div class="body-container">
        {{template "header" .}}
        <div class="body">

            <article>
                {{if eq $PageData.Frontmatter.Type "post"}}
                <h2>{{$PageData.Frontmatter.Title}}</h2>
                {{end}}

                <div class="tags-placeholder">
                    {{range $PageData.Frontmatter.Tags}}
                    <a href="/tags/{{.}}.html">
                        {{.}}
                    </a>
                    {{end}}
                </div>

                {{$PageData.Body}}

            </article>
        </div>

        {{template "footer" .}}

    </div>
    <script>
        hljs.highlightAll();
        hljs.addPlugin(new CopyButtonPlugin());
    </script>
</body>

</html>

{{ end}}
