{{ define "posts"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
  <div class="body-container">

    {{template "header" .}}

    <div class="body">
      <article>
        <div class="posts">
          <h2>Posts</h2>

          {{range $PostDate, $Post := .DeepDataMerge.Posts}}
          <div class="post-card">
            <div class="post-card-date">{{$Post.Frontmatter.Date}}</div>
            <div class="post-card-link-and-description">
              <a class="post-card-link" href="{{$Post.CompleteURL}}">
                {{$Post.Frontmatter.Title}}
              </a>
              <div class="post-card-description">{{$Post.Frontmatter.Description}}</div>
            </div>
            <div class="post-tags-placeholder">
              {{range $Post.Frontmatter.Tags}}
              <a href="/tags/{{.}}.html">
                {{.}}
              </a>
              {{end}}
            </div>
          </div>
          {{end}}

        </div>
      </article>
    </div>

    {{template "footer" .}}

  </div>
</body>

</html>

{{ end}}