{{ define "tag-subpage"}}
{{$PageData := index .DeepDataMerge.Tags .PageURL}}
{{ template "head" .}}

<body>
  <div class="body-container">

    {{template "header" .}}

    <div class="body">
      <article>
        <div class="tagged-posts">
          <h2>Posts tagged
              <span class="tag-subpage-keyword">{{$PageData.Frontmatter.Title}}</span></h2>
          <div class="post-tags-placeholder tagpage-tags-placeholder">

            {{$TagSet := index .DeepDataMerge.TagsMap .PageURL}}
            {{range $TagSet }}
            <a href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a>
            {{end}}

          </div>
        </div>
      </article>
    </div>

    {{template "footer" .}}

  </div>
</body>

</html>

{{ end}}
