{{ define "page"}}
{{ template "head" .}}

<body>
    {{template "header" .}}

    <div class="body">
        {{.Body}}
    </div>


    <!-- <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
        data-slug="adityahegde" data-color="#FF5F5F" data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
        data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script> -->

</body>

{{template "footer" .}}

</html>

{{ end}}