{{ define "posts"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Frontmatter.Title}}</title>
  <link rel="stylesheet" href="./static/style.css">
</head>

<body>
  <header>
    <nav>
      {{range .Layout.NavbarElements}}
      <a href=" {{.}}.html">{{.}}</a>
      {{end}}
    </nav>
  </header>
  <div class="body">
    {{range .Layout.Posts}}
    <a href="posts/{{.}}.html">{{.}}</a>
    {{end}}
  </div>
  <footer></footer>
</body>

</html>

{{ end}}
