{{ define "notes-root" }}
{{$PageData := .DeepDataMerge.Notes }}
{{ template "head" .}}

<body>
    {{template "header" .}}
    <div class="body">
        <article>
            <section class="posts">
                {{range $PageData }}
                {{ if eq .Frontmatter.Head true }}
                <a class="post-card" href="{{.CompleteURL}}">
                    <div class="post-card-div">
                        <h3>{{.Frontmatter.Title}}</h3>
                        <p>{{.Frontmatter.Description}}</p>
                        <p>{{.Frontmatter.Date}}</p>
                    </div>
                </a>
                {{ end }}
                {{end}}
            </section>
        </article>
    </div>

    {{template "footer" .}}
</body>

</html>

{{ end}}
