{{ define "note"}}
{{$PageData := index .DeepDataMerge.Notes .PageURL}}
{{ template "head" .}}

<body>

    {{template "header" .}}
    <article>
        <section class="body">
            {{ if eq $PageData.Frontmatter.Type "note" }}
            <div class="post-description">
                <h1>{{ $PageData.Frontmatter.Title }}</h1>
                <div class="authors-paceholder">
                    <p>
                        Published on {{$PageData.Frontmatter.Date}}
                        <!-- if length of frontmatter authors is 0 -->
                        {{ if eq (len $PageData.Frontmatter.Authors) 0 }}
                        {{.DeepDataMerge.LayoutConfig.Author}}
                        {{ else }}
                        {{range $PageData.Frontmatter.Authors }}
                        {{ . }},
                        {{ end }}
                        {{ end }}
                    </p>
                </div>
            </div>
            {{ else }}
            {{ end }}
            {{$PageData.Body}}
        </section>
        <hr />
        <section class="posts">
            {{ $CurratedNotes := index .DeepDataMerge.LinkStore .PageURL}}
            {{ if eq (len $CurratedNotes ) 0 }}
            {{ else }}
            <h3>Related Posts</h3>
            {{range index .DeepDataMerge.LinkStore .PageURL }}
                <a class="post-card" href="/{{ .CompleteURL }}">
                    <div class="post-card-div">
                        <h4>{{ .Frontmatter.Title }}</h4>
                        <p>{{ .Frontmatter.Description }}</p>
                        <p>{{ .Frontmatter.Date }}</p>
                    </div>
                </a>
            {{end}}
            {{ end }}
        </section>
    </article>
    {{template "footer" .}}

    <script>
        document.querySelectorAll('a:not(.post-card):not(.navitem)').forEach(function(anchor) {


            var divWidth = 200; // Assume the width of the div
            var divHeight = 100; // Assume the height of the div
            anchor.addEventListener('mouseover', function(e) {
                var div = document.createElement('div');
                div.id = "hoverDiv"
                div.style.position = 'fixed';

                div.style.maxWidth = '25rem';
                div.style.left = e.clientX + 'px';
                div.style.top = e.clientY + 'px';

                var left = e.clientX;
                var top = e.clientY;
                if (left + divWidth > document.innerWidth) {
                    left = window.innerWidth - divWidth;
                }
                if (top + divHeight > document.innerHeight) {
                    top = window.innerHeight - divHeight;
                }

                div.style.left = left + 'px';
                div.style.top = top + 'px';

                const url = "/static/noteindex.json"
                fetch(url)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then((data) => {
                        // check if the value of the anchor tag <a>THIS ONE</a>
                        // has a match in the data.Frontmatter.Title

                        for (key in data) {
                            title = data[key]["Frontmatter"]["Title"];
                            if (title == anchor.innerHTML) {
                                // Create a new heading element
                                var heading = document.createElement('h4');
                                var mdBody = document.createElement('p');
                                var fileDate = document.createElement('p');
                                fileDate.className = "date"

                                heading.textContent = title;
                                mdBody.textContent = data[key]["MarkdownBody"];
                                fileDate.textContent = `Created on ${data[key]["Frontmatter"]["Date"]}`

                                div.appendChild(heading);
                                div.appendChild(mdBody);
                                div.appendChild(fileDate)

                                document.body.appendChild(div);
                                // Append the div to the body of the current document
                            }
                        }
                    })
                    .catch((error) => {
                        console.error(
                            "There was a problem with the fetch operation:",
                            error,
                        );
                    })
            });

            anchor.addEventListener('mouseout', function(e) {
                console.log("JKSHKD")
                var hoverDivs = document.querySelectorAll('#hoverDiv');
                // kill all hoverDiv elements
                hoverDivs.forEach(function(hoverDiv) {
                    hoverDiv.remove();
                });
            });

        });



    </script>
</body>

</html>

{{ end}}
