{{ define "posts"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
    {{template "header" .}}
    <div class="body">
        <article>
            <section class="posts">
                {{range $PostDate, $Post := .DeepDataMerge.Posts}}
                <a class="post-card" href="{{$Post.CompleteURL}}">
                    <div class="post-card-div">
                        <h3>{{$Post.Frontmatter.Title}}</h3>
                        <p>{{$Post.Frontmatter.Description}}</p>
                        <p>{{$Post.Frontmatter.Date}}</p>
                    </div>
                </a>
                {{end}}
            </section>
        </article>
    </div>

    {{template "footer" .}}
</body>

</html>

{{ end}}
