{{ define "tag-subpage"}}
{{$PageData := index .DeepDataMerge.Tags .PageURL}}
{{ template "head" .}}

<body class="site-body">
    {{template "header" .}}
    <main class="container site-main" role="main">
        <article class="content">
            <section class="tagged-posts">
                {{$TagSet := index .DeepDataMerge.TagsMap .PageURL}}
                {{range $TagSet }}
                <a href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a>
                {{end}}
            </section>
        </article>
    </main>

    {{template "footer" .}}
</body>

</html>

{{ end}}