{{define "header"}}
<!-- If the template for a particular url does not exist(posts.html), setting it to the specific page template data -->
{{ $PageData := index .DeepDataMerge.Templates .PageURL }} {{if eq $PageData nil
}} {{ $PageData = .TemplateData }} {{end}}

<header>
    <nav>
        {{range $index_no, $map := .DeepDataMerge.LayoutConfig.Navbar}} {{range
        $key, $value := $map }}
        <a class="navitem" href="/{{ $value }}">[{{ $key }}]</a>
        {{ end }} {{end}}
    </nav>
</header>
{{template "search" .}} {{end}}
