{{define "head"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Frontmatter.Title}}</title>

    <link rel="preload stylesheet" href="{{.Layout.ThemeURL}}" />
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
    <script defer src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
    <link rel="alternate" type="application/atom+xml" title="feed" href="/feed.xml" />


    {{ if .LiveReload }}
    <script>
        const eventSource = new EventSource('http://localhost:8000/events');
        eventSource.onmessage = function (event) {
            location.reload()
        };
        window.onbeforeunload = function(event)
        {
               return confirm("Confirm refresh");
        };
    </script>
    {{ end }}


    {{range .Frontmatter.JSFiles}}
    <script src="/script/{{.}}" defer></script>
    {{end}} {{range .Layout.SiteScripts}}
    <script src="/script/{{.}}" defer></script>
    {{end}}


    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Frontmatter.Title }}" />
    <meta property="og:description" content="{{ .Frontmatter.Description }}" />
    <meta property="og:image" content="{{ .Frontmatter.PreviewImage }}" />

    <meta name="description" content="{{ .Frontmatter.Description }}">

    <script defer>
        hljs.highlightAll();
        hljs.addPlugin(new CopyButtonPlugin());
    </script>
</head>
{{end}}

</html>
