{{define "search"}}
<form class="siteSearch" id="searchSite">
  <input type="text" placeholder="Search Post or Page" id="searchSiteInput" name="searchSite" required autocomplete="off" />
</form>
<div id="site_search_result"></div>
<script>
  var resultDiv = document.getElementById("site_search_result");
  document
    .getElementById("searchSite")
    .addEventListener("keyup", function (e) {
      e.preventDefault();
      const searchValue =
        document.getElementById("searchSiteInput").value;

      const url = "/static/index.json";

      fetch(url)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          resultDiv.innerHTML = "";
          found = 0;
          if (searchValue != "") {
            for (key in data) {
              found += 1;
              title =
                data[key]["Frontmatter"]["Title"].toLowerCase();
              if (title.includes(searchValue.toLowerCase())) {
                var a = document.createElement("a");
                a.innerHTML = data[key]["Frontmatter"]["Title"];
                a.href = `/${data[key]["CompleteURL"]}`;
                resultDiv.appendChild(a);
                resultDiv.appendChild(
                  document.createElement("br"),
                );
              }
            }
          } else {
            document.getElementById("site_search_result").innerHTML = "";
          }
        })
        .catch((error) => {
          // Handle errors
          console.error(
            "There was a problem with the fetch operation:",
            error,
          );
        });
    });
</script>
{{end}}
