@font-face {
  font-family: custom-font;
  src: url(./fonts/Inter/Inter-Regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: monospace, custom-font, sans-serif;
  color: white;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  margin-inline: 10rem;
}

nav {
  display: flex;
  gap: 2rem;

  & > a {
      font-size: 1.65rem;
  }

}

a {
    color: white;
    text-decoration: underline;
    /* make sure text is not selectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a:hover {
    color: #4592af;
    text-decoration: none;
}

a:active {
    color: #4592af;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #4592AF;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: justify;

  & > p {
      margin: auto;
      font-size: 1.2rem;
  }

  & > a {
      font-size: 1.2rem;
      text-align: justify;
      word-break: break-all;
      color: white;
  }

  & > ul > li {
      font-size: 1.2rem;
  }
}

img {
  height: 35rem;
  width: auto;
  border-radius: .2rem;

  transition: opacity 300ms ease-in-out;
  &:hover {
      opacity: 0.85;
  }
}

@media screen and (max-width: 900px) {
  img {
      max-width: 300px;
      min-width: 200px;
      height: auto;
  }
  body {
      margin-inline: 1.4rem;
      /* margin: auto; */
      text-align: left;
  }
  .body > p {
      font-size: 1.1rem;
  }

  .body > a {
      font-size: 1.1rem;
  }

  .body > ul > li {
      margin-inline: 2rem;
  }
}



/* Code styling */

pre code {
  width: 75vh;
  background-color: #0e0e0e;
  border: 2px solid #99999982;
  border-radius: .5rem;
  display: block;
  padding: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}

h1 > code,
h2 > code,
h3 > code,
h4 > code,
p > code,
li > code,
dd > code,
td > code {
  /* font-size: 1.1rem; */
  background-color: #afafaf93;
  color: black;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding-inline: .1rem;
  border-radius: .2rem;
}
