@font-face {
    font-family: custom-font;
    src: url(./fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: agave;
    src: url(./fonts/mono/Agave-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src: url(./fonts/Roboto/RobotoSlab-Regular.ttf);
}


body {

    font-family: custom-font, agave, monospace;
    font-size: .9rem;
    line-height: 1.6;

    background-color: #000000;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: justify;
    height: 100vh;

    margin: auto;
    margin-inline: 5%;

}

header {
    flex: 0;
}

footer {
    width: 100%;
    flex: 0;

    align-self: center;
    padding: 1rem 0;

    text-align: center;
}

nav {
    font-size: 1.8rem;
    
    margin: auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    display: flex;
    justify-content: center;
    gap: 2rem;
}

a {
    color:#5990ac;
    text-decoration: none;

    /* font-size: 1.4rem; */
    transition: color 150ms ease-in-out
}

a:hover {
    /* color:#5990ac; */
    text-decoration: underline;
}

a:active {
    /* color: white; */
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: RobotoSlab;
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: left;
    word-break: break-word;

    color: #5990ac;
}

h1 { font-size: 3rem;}
h2 { font-size: 2.5rem;}
h3 { font-size: 2.0rem;}
h4 {font-size: 1.8rem;}

.body {
    flex: 1 0 auto;
  
    & > a,
    & > ul > li > a,
    & > ol > li > a,
    & > ul > li > p > a,
    & > ol > li > p > a,
    & > p > a {
        color:#5990ac;
    }

    & > p {
        margin: 0;
        padding: 0;
    }

    & > a, 
    & > p, & > ul > li, 
    & > ol > li,  
    & > ul > li > a, 
    & > ol > li > a {
        font-size: 1.3rem;
    }

}

img {
    &:hover {
        opacity: 0.85;
    }
}

img {
    height: 35rem;
    width: auto;
    /* width: 100%;
        height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.posts {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
  
    & > a {
        background-color: #41414141;
        border-radius: 5px;
        margin: .5rem;
        padding: .5rem;
        word-wrap: break-word;
        text-decoration: none;

        transition: background-color 150ms ease-in-out;


    }

    & > a:hover {
        background-color: #4141417a;
    }

}

.post-card {
    color: #ffffff55;
}

.post-card-div {
    display: grid;

    & > *  {
        padding-inline: 1rem;
    }

    & > p {
        margin: 0;
        padding: 0;
        padding-inline: 1rem;
        font-size: 1.1rem;
    }
}

.body > img {
    /* center the image wrt the screen*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* Code styling */
/* pre code {
    font-family: agave, monospace;
    display: block;
    background: #41414193;
    border: 1.5px solid #ffffff35;
    border-radius: 5px;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 1rem;
} */
p > code,
li > code,
dd>code,
td>code {
    font-family: agave, monospace;
    background: #41414193;
    border: 1.5px solid #ffffff35;
    border-radius: 5px;
    word-wrap: break-word;
    font-size: inherit;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}



/* styling for viewports width < 600px */
@media (max-width: 600px) {
    nav {
        font-size: 1.5rem;
        gap: 1.5rem;
    }
    
    body {
        margin-inline: 5%;
    }
    img {
            /* height: 35rem;
    width: auto; */
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

    .body {
        & > a, 
        & > p, & > ul > li, 
        & > ol > li,  
        & > ul > li > a, 
        & > ol > li > a {
            font-size: 1.15rem;
        }
    }
}
