@font-face {
  font-family: custom-font;
  src: url(./fonts/Inter/Inter-Regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: monospace, custom-font, sans-serif;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  margin-inline: 10rem;
}

nav {
  display: flex;
  gap: 2rem;

  & > a {
    font-size: 1.3rem;
  }
}

a {
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.body > p {
  /* margin-inline: 2rem; */
  margin: auto;
}

.body > a {
  font-size: 1.5rem;
  word-break: break-all;
}

.body > p {
  font-size: 1.1rem;
}

img {
  height: 35rem;
  width: auto;
  border-radius: .2rem;

  transition: opacity 300ms ease-in-out;
  &:hover {
    opacity: 0.85;
  }
}

ul > li {
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  img {
    max-width: 300px;
    height: auto;
  }
  body {
    margin-inline: 1.3rem;
    margin: auto;
    text-align: justify;
  }
  p {
    font-size: 1.1rem;
  }
  ul > li {
    font-size: 1.1rem;
    margin-inline: 1rem;
  }

  .body > a {
    font-size: 1.1rem;
  }
}
