name: Benchmark
on:
  pull_request:
  workflow_dispatch:

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y hyperfine

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          profile: minimal
          toolchain: stable

      - name: Run Benchmark
        run: |
          ./test/bench.sh 2>&1 | tee full_output.txt
          exit_code=${PIPESTATUS[0]}
          if [ $exit_code -ne 0 ]; then
            echo "Benchmark script failed with exit code $exit_code"
            exit $exit_code
          fi
          sed -n '/Begin Benchmark/,/End Benchmark/p' full_output.txt > bench_results.txt

      - name: Post Benchmark Results
        if: github.event.pull_request.head.repo.full_name == github.repository
        run: |
          gh pr comment ${{ github.event.pull_request.number }} --body "## Benchmark Results

          \`\`\`
          $(cat bench_results.txt)
          \`\`\`" --create-if-none --edit-last
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
